<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/Shared :: header"></div>
<title>Producto</title>
</head>


<body>
	<div class="row">
		<div class="col-12">

			<div th:replace="/Shared :: menu"></div>

		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<form class="row" style="background: aliceblue;">
				<div class="p-2 col-12">
					<a href="/nuevoCaso" class="pr-3 float-right">
						<button class="btn btn-success my-2 my-sm-0" type="button">Nuevo
							Caso</button>
					</a>
				</div>

			</form>
			<div class="row pt-2">

				<div id="listaProductos" class="col-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Clinica</th>
								<th scope="col">Enfermedad</th>
								<th scope="col">Paciente</th>
								<th scope="col">Fecha</th>
								<th scope="col">Sintomas</th>
								<th scope="col">Estado</th>
							</tr>
						</thead>
						<tbody>

							<tr class="table-info" th:each="entry,status : ${casos}">

								<td th:text="${entry.miClinica.nombre}"
									th:value="${entry.clinica}"></td>
								<td th:text="${entry.miEnfermedad.nombre}"
									th:value="${entry.enfermedad}"></td>
								<td
									th:text="${entry.miPaciente.nombre + ' ' + entry.miPaciente.apellido}"
									th:value="${entry.miPaciente.nombre + ' ' + entry.miPaciente.apellido}"></td>
								<td th:text="${entry.fecha}" th:value="${entry.fecha}"></td>
								<td th:text="${entry.sintomas}" th:value="${entry.sintomas}"></td>
								<td>
									<form class="row" th:value="${entry.id}"
										th:action="@{/actualizarEstado/}+${entry.id}"
										th:object="${caso}" method="get">
										<input class="col-0" type="hidden" th:value="${entry.id}">
										<select class="form-control col-8" name="estado" id="estado">
											<option
												th:each="estado : ${T(com.cenfotec.proyecto.domain.Caso.Estado).values()}"
												value="1" th:text="${estado}" th:value="${estado}"
												th:selected="${estado} == ${entry.estado}"></option>
										</select>
										<button onclick="loading(this)" type="submit" class="btn btn-primary ml-2 col-3">Guardar</button>
									</form>
								</td>

							</tr>


						</tbody>
					</table>
				</div>

			</div>


		</div>

	</div>
	<script>
		function loading(btn) {
			btn.innerHTML="<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>"
		}
	</script>
	<div th:replace="/Shared :: js"></div>
</body>

</html>