<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/Shared :: header"></div>
<title>Caso</title>
</head>
<body>

	<div class="row">
		<div class="col-12">

			<div th:replace="/Shared :: menu"></div>

		</div>


	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4 mt-2 pt-3" style="background: aliceblue;">
			<div class="col4">
				<form id="formNCaso" th:action="@{/addCaso}"
					th:object="${caso}" method="post">
					<fieldset>
						<legend>Agregar Caso</legend>
						<div class="form-group has-success">
							<label class="form-control-label" for="inputSuccess1">Paciente</label>
							<input required="required" th:field="*{paciente}" id="paciente"
								type="text" value="" class="form-control">

						</div>




						<div class="row form-group">
							<div class="col-6 form-group">
								<label for="exampleSelect1">Enfermedad</label> <select
									th:field="*{enfermedad}" class="form-control" id="enfermedad">
									<option th:each="entry,status : ${enfermedades}" value="1"
										th:text="${entry.nombre}" th:value="${entry.id}"></option>
								</select>
							</div>



							<div class="col-6 form-group">
								<label for="exampleSelect1">Clinica</label> <select
									th:field="*{clinica}" class="form-control" id="clinica">
									<option th:each="entry,status : ${clinicas}" value="1"
										th:text="${entry.nombre}" th:value="${entry.id}"></option>
								</select>
							</div>

						</div>




						<div class="row form-group">
							<div class="col-6">
								<label class="form-control-label" for="inputSuccess1">Sintomas</label> <input required="required"
									 type="text" value=""
									th:field="*{sintomas}" class="form-control"
									id="inputValid">

							</div>
						</div>

						<div class="row" style="justify-content: center;">
						<button type="submit" class="btn btn-primary m-2">Guardar</button>
						</div>
						
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
	
	
	
</body>

<div id="mymodalExito" class="modal fade show" th:each="entry,status : ${nuevo}"
	style="display: block; opacity: 1;" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" >Exitoso</h5>
			</div>
			<div class="modal-body">
				<p>Caso <span th:text="${nuevo}"></span> agregado con exito.</p>
			</div>
			<div class="modal-footer">
			
				<button id="btnCerrarExito" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div id="mymodalError" class="modal fade show" th:each="entry,status : ${error}"
	style="display: block; opacity: 1;" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" th:text="${error}"></h5>
			</div>
			<div class="modal-body">
				<p>Error al guardar el Caso  <span th:text="${nuevo}"></span></p>
			</div>
			<div class="modal-footer">
				<button id="btnCerrarError" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<script>
$("#btnCerrarExito").click(function(){
	$("#mymodalExito")[0].style.display="";
})

$("#btnCerrarError").click(function(){
	$("#mymodalError")[0].style.display="";
})

</script>
<div th:replace="/Shared :: js"></div>