<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/Menu :: header"></div>
<title>Producto</title>
</head>
<body>

	<div class="row">
		<div class="col-12">

			<div th:replace="/Menu :: menu"></div>

		</div>


	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4 mt-2 pt-3" style="background: aliceblue;">
			<div class="col4">
				<form id="formNProducto" th:action="@{/addProducto}"
					th:object="${producto}" method="post">
					<fieldset>
						<legend>Agregar Producto</legend>
						<div class="form-group has-success">
							<label class="form-control-label" for="inputSuccess1">Nombre</label>
							<input required="required" th:field="*{nombre}" id="idNombre"
								type="text" value="" class="form-control">

						</div>




						<div class="row form-group">
							<div class="col-6 form-group">
								<label for="exampleSelect1">Calidad</label> <select
									th:field="*{calidad}" class="form-control" id="exampleSelect1">
									<option value="A">Maximo</option>
									<option value="B">Internmedio</option>
									<option value="C">Minimos</option>
								</select>

							</div>



							<div class="col-6 form-group">
								<label for="exampleSelect1">Bodega</label> <select
									th:field="*{idBodega}" class="form-control" id="idBodega">
									<option th:each="entry,status : ${bodegas}" value="1"
										th:text="${entry.nombre}" th:value="${entry.id}"></option>
								</select>
							</div>

						</div>




						<div class="row form-group">
							<div class="col-6">
								<label class="form-control-label" for="inputSuccess1">Cantidad
									total</label> <input required="required"
									onkeypress="return inputNumerico(event)" type="text" value=""
									th:field="*{cantidadTotal}" class="form-control"
									id="inputValid">

							</div>
							<div class="col-6">
								<label class="form-control-label" for="inputSuccess1">Numero
									Cajas</label> <input required="required"
									onkeypress="return inputNumerico(event)" type="text" value=""
									th:field="*{numeroCajas}" class="form-control"
									id="inputValid">

							</div>
						</div>

						<div class="row" style="justify-content: center;">
						<button type="submit" class="btn btn-primary m-2">Guardar</button>
						</div>
						
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
	
	
	
</body>

<div id="mymodalExito" class="modal fade show" th:each="entry,status : ${nuevo}"
	style="display: block; opacity: 1;" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" >Exitoso</h5>
			</div>
			<div class="modal-body">
				<p>Producto <span th:text="${nuevo}"></span> agregado con exito.</p>
			</div>
			<div class="modal-footer">
			
				<button id="btnCerrarExito" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div id="mymodalError" class="modal fade show" th:each="entry,status : ${error}"
	style="display: block; opacity: 1;" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" th:text="${error}"></h5>
			</div>
			<div class="modal-body">
				<p>Error al guardar el producto  <span th:text="${nuevo}"></span></p>
			</div>
			<div class="modal-footer">
				<button id="btnCerrarError" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<script>
$("#btnCerrarExito").click(function(){
	$("#mymodalExito")[0].style.display="";
})

$("#btnCerrarError").click(function(){
	$("#mymodalError")[0].style.display="";
})

</script>
<div th:replace="/Menu :: js"></div>