<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/Shared :: header" ></div>
<title>Producto</title>
</head>
<body >
		


	<div class="row">
	<div class="col-12">
	
		<div th:replace="/Shared :: menu" ></div>

	</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="jumbotron">
				<h1 class="display-3"><img src="/img/logo.png"></img></h1>
				<p class="lead">Su salud es nuestra prioridad.</p>
				<hr class="my-4">
				<p>Haga su consulta al numero xxxxxxxxx</p>

			</div>
		</div>

	</div>



</body>
</html>
